{% extends "base.html" %}

{% block content %}
  <div class="content_home_page">
  <h1>TODO list
      <button  style=" float: right" class="btn btn-success" type="submit"
             onclick="location.href='{% url 'todo_list:task-create' %}'">
        Create
    </button>
  </h1>
    <hr>
  {% for task in task_list %}
      {% if task.done is True %}
       <h4> <strong>{{ task.content }}</strong> <span style="color: green">Done</span>
       <button  style=" float: right" class="btn btn-secondary" type="submit"
     onclick="location.href='{% url 'todo_list:task-compleat' task.pk %}'">
        Undo
      </button>
          </h4>
      {% else %}
          <h4> <strong>{{ task.content }}</strong> <span style="color: red">Not done</span>
      <button  style=" float: right" class="btn btn-primary" type="submit"
     onclick="location.href='{% url 'todo_list:task-undo' task.pk %}'">
        Compleat
      </button>
          </h4>
      {% endif %}

      {% if task.deadline %}
          <p>Create: {{ task.datetime }} <span style="color: darkred">Deadline: {{ task.deadline }}</span></p>
      {% else %}
          <p>Create: {{ task.datetime }}</p>
      {% endif %}
      Tags:
      {% for tag_ in task.tag.all %}
        {{ tag_ }}
          {% endfor %}
      <a href="{% url 'todo_list:task-update' %}">Update</a>
      <a style="color: red" href="{% url 'todo_list:task-delete' task.pk %}">Delete</a>
      <hr>
  {% endfor %}

  </div>

{% endblock %} }
